<section class="body--dates">
    <div class="dates--announcement">
        <div class="announcement--dates">
            <%= image_tag('dates.png') %>
            <h2 class="dates--hide">
                13th Annual Music Festival, October 6-8, 2016
            </h2>
        </div>
    </div>
    <div class="dates--capitol">
        <div class="capitol--illustration">
            <%= image_tag('capitol.png') %>
            <h1 class="illustration--text">
                Lincoln Calling
            </h1>
        </div>
        <div class="capitol--dates">
            <%= image_tag('festival.png') %>
            <%= image_tag('dates-standalone.png') %>
        </div>
        <div class="capitol--buttons">
            <div class="buttons--margin">
            </div>
            <div class="buttons--hn">
                <a href="http://hearnebraska.org">
                    <%= image_tag('hear-nebraska.png') %>
                    <p class="hn--text">
                        Produced by Hear Nebraska
                    </p>
                </a>
            </div>
            <div class="buttons--margin">
            </div>
            <div class="buttons--email">
                <a href="http://hearnebraska.us1.list-manage1.com/subscribe?u=8a195706cf10047ecb6091c5e&id=e8436333d5" target="_blank">
                    <%= image_tag('email.png') %>
                    <p class="email--text">
                        Sign up for email updates.
                    </p>
                </a>
            </div>
            <div class="buttons--margin">
            </div>
            <div class="buttons--social">
                <div class="social--network">
                    <a href="http://facebook.com/lincolncalling" target="_blank">
                        <%= image_tag('facebook.png') %>
                        <p class="social--text">
                            Facebook
                        </p>
                    </a>
                </div>
                <div class="social--network">
                    <a href="http://twitter.com/lincolncalling_" target="_blank">
                        <%= image_tag('twitter.png') %>
                        <p class="social--text">
                            Twitter
                        </p>
                    </a>
                </div>
                <div class="social--network">
                    <a href="https://www.instagram.com/lincolncalling_/" target="_blank">
                        <%= image_tag('instagram.png') %>
                        <p class="social--text">
                            Instagram
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>