<section class="body--dates">
    <div class="dates--announcement">
        <div class="announcement--dates">
            <%= image_tag('dates.png') %>
        </div>
    </div>
    <div class="dates--capitol">
        <div class="capitol--illustration">
            <%= image_tag('capitol.png') %>
        </div>
        <div class="capitol--dates">
            <%= image_tag('festival.png') %>
            <%= image_tag('dates-standalone.png') %>
        </div>
        <div class="capitol--buttons">
            <div class="buttons--margin">
            </div>
            <div class="buttons--hn">
                <a href="http://hearnebraska.org">
                    <%= image_tag('hear-nebraska.png') %>
                </a>
            </div>
            <div class="buttons--margin">
            </div>
            <div class="buttons--email">
                <a href="http://hearnebraska.us1.list-manage1.com/subscribe?u=8a195706cf10047ecb6091c5e&id=e8436333d5">
                    <%= image_tag('email.png') %>
                </a>
            </div>
            <div class="buttons--margin">
            </div>
            <div class="buttons--social">
                <div class="social--network">
                    <a href="http://facebook.com/lincolncalling">
                        <%= image_tag('facebook.png') %>
                    </a>
                </div>
                <div class="social--network">
                    <a href="http://twitter.com/lincolncalling_">
                        <%= image_tag('twitter.png') %>
                    </a>
                </div>
                <div class="social--network">
                    <a href="https://www.instagram.com/hearnebraska/">
                        <%= image_tag('instagram.png') %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>